@charset "UTF-8";
/* Esse css é para o menu  do atendimento*/
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --color-principal:#e5ebe9;
  --color-primaria: #c1cfcf;
  --color-quatro: #081539;
  --color-tercearia: #bf4343;
  --color-segundaria: #083939;
  --color-quinta: #90c2f3;
  --color-sombra-luz: hsla(180, 27%, 87%, 0.555);
  --color-sombra: hsla(0, 0%, 0%, 0.425);
  --color-background: var(--color-principal);
  --color-text: var(--color-segundaria);
  --color-restante: var(--color-tercearia);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  scrollbar-width: thin;
  scrollbar-color: var(--color-segundaria) transparent;
  font-size: 15px;
}

.cabeca-menu {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tables {
  box-shadow: var(--color-sombra) 0px 10px 20px, var(--color-sombra) 0px 6px 6px;
  width: 90%;
  height: 90%;
  border-radius: 25px 0px 25px 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tables-links {
  box-shadow: var(--color-sombra) 0px 10px 20px, var(--color-sombra) 0px 6px 6px;
  width: 70%;
  height: 50%;
  border-radius: 25px 0px 25px 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links-menu-atedimento {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  top: -25px;
  gap: 12px;
}

.links {
  text-decoration: none;
  color: var(--color-principal);
}

.menu.active {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.6rem;
  width: 30%;
  text-decoration: none;
  margin: 0;
  /* font-family: inherit; */
  /* font-size: inherit; */
  position: relative;
  display: flex;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 0px 25px 0px 25px;
  overflow: hidden;
  background: var(--color-primaria);
  align-items: center;
  justify-content: center;
  top: -8px;
}

.menu.active {
  background-color: var(--color-primaria);
}
.menu.active span {
  color: var(--color-segundaria);
}

.menu:not(.menu.active) {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.6rem;
  width: 30%;
  text-decoration: none;
  margin: 0;
  /* font-family: inherit; */
  /* font-size: inherit; */
  position: relative;
  display: flex;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 0px 25px 0px 25px;
  overflow: hidden;
  background: var(--color-primaria);
  align-items: center;
  justify-content: center;
  top: -8px;
}
.menu:not(.menu.active):before, .menu:not(.menu.active):after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.menu:not(.menu.active):before {
  content: "";
  background: var(--color-quinta);
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.menu:not(.menu.active):hover::before {
  transform: translate3d(100%, 0, 0);
}

li {
  list-style-type: none;
}

.menu span {
  color: var(--color-segundaria);
}

.menu span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.menu:hover span {
  color: var(--color-segundaria);
}

.back {
  border: none;
  width: 97px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--color-principal);
  background: var(--color-restante);
  color: var(--color-principal);
  cursor: pointer;
  display: flex;
  gap: 4px;
  height: 30px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -15px;
  right: -15px;
  top: 83px;
  font-size: 18px;
}

.back:after,
.back:before {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 100%;
  border-style: solid;
  border-color: transparent;
}

.back:before {
  left: 0;
  top: 15px;
  border-width: 0 15px 5px 0;
  border-right-color: var(--color-segundaria);
}

.backn:hover {
  border: none;
}

.titulo {
  border: none;
  width: 105%;
  background: var(--color-segundaria);
  color: var(--color-principal);
  cursor: pointer;
  display: flex;
  gap: 4px;
  /* margin-top: 10px; */
  padding: 21px;
  height: 30px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -40px;
  /* right: -15px; */
  top: 25px;
  font-size: 16px;
}

.titulo:after,
.titulo:before {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 100%;
  border-style: solid;
  border-color: transparent;
}

.titulo:after {
  border-width: 16px 41px 0 0;
  border-top-color: var(--color-segundaria);
  right: 0;
  top: 42px;
}

.titulo:before {
  left: 0;
  top: 42px;
  border-width: 0 41px 16px 0;
  border-right-color: var(--color-segundaria);
}

.titulo:hover {
  border: none;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

h1 {
  font-size: 24px;
}/*# sourceMappingURL=Atedimento_Menu.css.map */