

.wrap-calendario{
    display: flex;
    height: 100%;
    width: 80%;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 26px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    justify-content: center;
}

.wrap-calendario .divCalendario{
    width: 85%;
    color: black;
    overflow-y: auto;
    scrollbar-color: var(--color-primaria) var(--color-shadow);

}

.calendHead{
    display: flex;
    height: 50px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.setasemanaanterio{
    font-size: 22px;
    cursor: pointer;
}